
.container {
    max-width: 1200px;
    margin: auto;

    .header {
        .header__contant {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
    
            .header__contant-menu {
                display: flex;
                justify-content: space-between;
        
                .header__contant-menu-login {
                    display: flex;
                    justify-content:space-between;
                    margin-right: 45px;
        
                    .login-icon {
                        width: 20px;
                        height: auto;
                        padding-right: 8px ;
                    }
                    
                    .login-text {
                        color:  #9093A6;
                        font-family: 'Martel Sans';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px; /* 125% */
                        letter-spacing: 0.5px;
                    }
                }
        
                .header__contant-menu-cart {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 45px;
        
                    .cart-icon {
                        width: 24px;
                        height: auto;
                        padding-left: 5px;
                    }
        
                    .cart-text {
        
                        color: #9093A6;
                        font-family: 'Martel Sans';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px; /* 125% */
                        letter-spacing: 0.5px;
                    }
                }
        
                // .header__contant-menu-burger {
        
                // }
            }
        }
    }
    
    .main {
        .main__contant {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .main__contant-text {
                padding-top: 190px ;
                width: 100%;

                .main__contant-text-title {
                    color: var(--gray-dark, #3F4255);
                    font-family: ''Poppins', sans-serif';
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 64px; /* 110.345% */
                    letter-spacing: 2.9px;
                    width: 100%;
                    
                }

                .main__contant-text-subtitle {
                    display: flex;
                    padding: 0;
                    margin-top: 90px;

                    .subtitle-item {
                        border-radius: 4px;
                        border: 2px solid #FFE145;
                        padding: 20px;
                        margin-right: 20px;
                        align-items: center;
                    }
                    .subtitle-item h2 {
                        color: var(--gray-dark, #3F4255);
                        text-align: center;
                        font-family: 'Martel Sans';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px; /* 125% */
                        letter-spacing: 0.5px;
                        align-items: center;
                    }
                    .subtitle-item p {
                        color: var(--gray-dark, #3F4255);
                        font-family: 'Martel Sans';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        align-items: center;
                    }
                }

            }

            .main__contant-img img{
                width: 800px;
                height: auto;
            }

            .main__contant-service {
                display: flex;
                border-radius: 0 5px 5px 0;
                padding: 30px 20px;
                margin-bottom: 20px;
                position: absolute;
                left: 15%;
                bottom: 20%;
                box-shadow: 0px 2px 10px rgba(133, 133, 133, 0.189);


                .main__contant-service-item {
                    display: flex;
                    align-items: center;
                    font-size: 14px;

                    .service-item-icon {
                        flex: 0 0 35px;
                        margin: 0 20px;
                    }

                    .service-item-text p {
                        color: var(--gray-dark, #3F4255);
                        font-family: Martel Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px; /* 150% */
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

    }

    .restaurants {
        margin-top: 150px;
        margin-bottom: 70px;

        .restaurants__contant-nav {
            display: flex;
            justify-content: space-between;
                 
            .restaurants__contant-nav-text {
                color: var(--gray-dark, #3F4255);
                font-family: 'Poppins', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 300;
                line-height: 64px; /* 177.778% */
                letter-spacing: 2.88px;
            }

            .restaurants__contant-nav-btn {
                width: 110px;
                height: auto;
                padding: 20px 20px;
                border-radius: 4px;
                background-color: #f2f4fa;

            }
            .restaurants__contant-nav-btn a {
                color: #9093A6;
                text-align: center;
                font-family: Martel Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;


            }
        }

        .restaurants__contant-food {
            display: flex;
            flex-direction: row;
            column-gap: 24px;
            margin-top: 50px;
            box-shadow: 0px 2px 16px 0px rgba(60, 62, 74, 0.08);
        }
        

    }

    .adress__contant {
        display: flex;
        justify-content: space-between;
        height: 300px;
        padding:80px ;

        
        .adress__contant-text {
            display: flex;
            flex-direction: column;
        }

        .adress__contant-text h1 {
            color: var(--gray-dark, #3F4255);
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 300;
            line-height: 64px; /* 177.778% */
            letter-spacing: 2.88px;
        }
        .adress__contant-text p {
            color: var(--gray-dark, #3F4255);
            font-family: Martel Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px; /* 150% */
            letter-spacing: 0.5px;
        }

        .adress__contant-btn {
            display:inline-flex;
            align-items: center;
            margin-left: 80px;
            

        }

        .adress__contant-btn input {
            height: 25px;
            width: 330px;
            padding: 24px;
            margin-right: 5px;
            color: var(--gray-second-text, #9093A6);
            font-family: Martel Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px; /* 150% */
            letter-spacing: 0.5px;
            border: white;
            border-radius: 2%;
            box-shadow: rgba(0, 0, 0, 0.08);
            
        }

        .adress__contant-btn a {
            height: 70px;
            width: 80px;
            padding: 24px;
            color: var(--brand-yellow-dark, #B79C10);
            text-align: center;
            font-family: Martel Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 125% */
            letter-spacing: 0.5px;
            border-radius: 4px;
            background:#FFE145;
        }
    }

    .specialities__content {

        margin: 70px 0;
        .specialities__content-txt {
            display: flex;
            justify-content: space-between;
    
        }

        .specialities__content-items {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

            .specialities__content-item {
                border-radius: 6px;
                background: #FFF;
                box-shadow: 0px 2px 16px 0px rgba(60, 62, 74, 0.08);
                width: 140px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .specialities__content-item img {
                height: 40px;
                margin-top: 20px;
            }

            .specialities__content-item p {
                color:  #313030;
                text-align: center;
                font-family: 'Martel Sans', sans-serif;
                font-family: ''Poppins', sans-serif', sans-serif;
                font-family: 'Roboto Condensed', sans-serif;;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.5px;
                margin: 16px 0 20px 0;
               
                
            }
        }

    }


    .topPlace__items {
        display: flex;
        justify-content: space-evenly;

        .topPlace__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 0px 50px 0px;
            position: relative;

            .topPlace__item-number p {
                background-color: #FFE145;
                margin-bottom: 8px;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                padding: 20px 30px 30px 20px;
                font-size: 52px;
                font-weight: 700;
                line-height: 60px;
                text-align: center;
                color: #3F4255;
            }


            .topPlace__item-circle {
                position: absolute;
                top: 54px;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                border: 2px solid #B79C10;

            }

            .topPlace__item-text{
                color: #3F4255;
                text-align: center;
                font-family: ''Poppins', sans-serif';
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
            }
        }
    }

    .map-img {
        margin: 70px 0px;
    }

    .instagram__contant {

        margin: 70px 0;

        .instargam__contant-title {
            color:  #313030;
            font-family: ''Poppins', sans-serif';
            font-size: 36px;
            font-style: normal;
            font-weight: 300;
            line-height: 64px; /* 177.778% */
            letter-spacing: 2.88px;
            padding: 25px;
    
            .in-subtitle {
                color: var(--gray-second-text, #9093A6);
                font-family: ''Poppins', sans-serif';
                font-size: 36px;
                font-style: normal;
                font-weight: 300;
                line-height: 64px;
                letter-spacing: 2.88px;
            }
        }
        .instagram__contant-images {
            display: flex;
            justify-content: space-between;
    
        }
    
        .instagram__contant-images img {
            width: 290px;
            height: 290px;
        }
    }

    .footer__contant {

        padding: 50px;


        .row {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .footer__logo img {
                width: 180px;
                height: 25px;
            }
            
            .footer__logo {
                display: inline-flex;
                flex-direction: column;
                gap: 50px;
                width: 300px;
                height: 200px;


                .app_icons {
                    display: flex;
                    column-gap: 8px;
                }

                .app_icons img {
                    width: 80px;
                    height: 30px;
                }
            }

            .footer__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .footer__text h1 {
                color: #FFF;
                font-family: ''Poppins', sans-serif';
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px; /* 133.333% */
                padding: 15px;
            }

            .footer__text p {
                color:#D4D7E5;
                font-family: 'Martel Sans';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; 
                letter-spacing: 0.5px;
                padding: 15px;
            }

        }

        .bottom {
            padding-top: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bottom__icons {
                display: flex;
                gap: 20px;

                .bottom__icon img {
                    width: 35px;
                }
                .bottom__icon:hover {
                    transform: scale(1.4);
                }
            }

            .bottom__text {
                display: flex;
                gap: 90px;
            }

            .bottom-subtitle {
                color: #FFF;
                font-family: "Martel Sans";
                font-size: 12px;
                font-style: normal;
                font-weight: 800;
                line-height: 16px; /* 133.333% */
            }

            .copyright {
                color: #FFF;
                font-family: "Martel Sans";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 133.333% */
            }
        }
    }




}





.adress__bg {
    background-color:#F2F4FA;
}

.btn-show-all {
    width: 100px;
    height: 50px;
    padding: 15px 17px;
    border-radius: 4px;
    background-color: #f2f4fa;

}
.btn-show-all a {
    color: #9093A6;
    text-align: center;
    font-family: 'Martel Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    
}

.title-txt {
    color: var(--gray-dark, #3F4255);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px; /* 177.778% */
    letter-spacing: 2.88px;
}

.bg_limon {
    background: url('../img/Top-place-imp/bg2.png'), lightgray no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url("../img/Top-place-imp/bg_limon.jpg");
    // background-size: cover;
}

.footer-bg {
    background: #3F4255;
}


